<%= form_with(model: online, local: true) do |form| %>
  <% if online.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(online.errors.count, "error") %> prohibited this online from being saved:</h2>

      <ul>
        <% online.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name %>
  </div>

  <div class="field">
    <%= form.label :assignments %>
    <%= form.check_box :assignments %>
  </div>

  <div class="field">
    <%= form.label :hours_per_week %>
    <%= form.number_field :hours_per_week %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
