<p id="notice"><%= notice %></p>

<h1>Onlines</h1>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Assignments</th>
      <th>Hours per week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onlines.each do |online| %>
      <tr>
        <td><%= online.class_name %></td>
        <td><%= online.assignments %></td>
        <td><%= online.hours_per_week %></td>
        <td><%= link_to 'Show', online %></td>
        <td><%= link_to 'Edit', edit_online_path(online) %></td>
        <td><%= link_to 'Destroy', online, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Online', new_online_path %>
